/* Global Styles */

html {
  font-size: 16px;
}

body {
  color: #4A4A4A;
  font-family: "prompt";
  font-size: 1rem;
  margin: 0 auto;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #4D92DF;
  transition: .3s ease-in;
  cursor: pointer;
}

a:hover {
  color: #000;
}

.tag, .story p {
  color: #b9b9b9;
}

/* Header and Navbar */

.cd-auto-hide-header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  transition: transform .5s .1s;
  top: 0;
  left: 0;
}

.cd-auto-hide-header.is-hidden {
  transform: translateY(-100%);
}

.navbar {
  display: flex;
  height: 4rem;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
}


nav ul li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  padding-left: 1rem;
  color: #9B9B9B;
}

nav a:hover {
  color: #4A4A4A;
  cursor: pointer;
}

nav a:active {
  color: #000;
}

.navbar p {
  margin-bottom: 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #9B9B9B;
}

.logo img {
  height: 2rem;
  width: auto;
}

.logo span {
  font-weight: 700;
  color: #4A4A4A;
}

.mobile-nav {
  display: none;
  transition: 1s;
}

@media only screen and (max-width: 750px) {

  .main-nav, .logo {
    display: none;
  }

  .mobile-nav {
    display: block;
    width: 100%;

  }

  .mobile-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .mobile-nav a {
    padding-left: 0;
  }

  .navbar {
    margin: 0;
  }

}

/* Jumbotron */

.jumbotron,
.start-learning {
  background: #EAEBEC;
  width: 100%;
  padding: 0;
  padding-top: 4rem;
}

.hero-container {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
}

.hero-img {
  width: 60%;
  height: auto;
  margin-right: 3rem;
}

.hero-img img {
  width: 100%;
  height: auto;
}

.hero-text {
  width: 40%;
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.hero-text p {
  font-size: 1.75rem;
  font-weight: 300rem;
  margin-bottom: 2rem;
}

button {
  border: 3px solid #000;
  background: #000;
  color: #9B9B9B;
  text-align: center;
  padding: 1rem 0;
  width: 50%;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  transition: all .2s ease .1s;
  cursor: pointer;
}

button:hover {
  border: 3px solid #4A4A4A;
  background-color: transparent;
  color: #4A4A4A;
  width: 75%;
  cursor: pointer;
  font-weight: 700;
}

button:active {
  border: 3px solid transparent;
  background: #fff;
  color: #9B9B9B;
}

@media only screen and (max-width: 1068px) {

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.25rem;
  }

  button {
    font-size: 1.25rem;
    width: 75%;
  }
}

@media only screen and (max-width: 790px){

  .hero-text h1 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }

  .hero-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  button {
    font-size: 1rem;
    width: 75%;
  }

}

@media only screen and (max-width: 750px) {

  .hero-container {
    padding: 0;
    flex-wrap: wrap;
  }
  .hero-img {
    width: 100%;
    margin: 0 auto;
  }

  .hero-text {
    width: 100%;
    margin: 2rem 1rem;
    text-align: center;
  }

}

/* Articles Section */

.articles,
.videos {
  background-color: #fff;
  width: 100%;
  display: flex;
}

.lead-article {
  width: 60%;
  margin: 2.5rem 0 0 2rem;
}

.lead-article img, video {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}


.lead-article p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.85rem;
}

.sub-articles {
  display: flex;
  width: 40%;
  border-left: 1px solid #efefef;
  flex-direction: column;
  margin-left: 1.5rem;
  padding-top: 1rem;
}

.story {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid #efefef;
  transition: all .15s ease-in;
}

.story:hover {
  border-bottom: .5rem solid #4D92DF;
}

#orientation-mobile,
#on-campus-mobile,
#lecture-mobile {
  display: none;
}

@media only screen and (max-width: 1350px) {

    .articles {
      display: block;
    }

    .lead-article {
      width: 100%;
      margin: 2.5rem 0;
    }

    .lead-article h2,
    .lead-article h3,
    .lead-article p,
    .lead-article span {
      padding: 0 1.5rem;
    }

    .sub-articles {
      width: 100%;
      margin: 2.5rem 0 0 0;
      border-top: 1px solid #efefef;
      border-bottom: none;
      padding-top: 0;
    }
}


@media only screen and (max-width: 750px) {

    #hide {
      display: none;
    }

    .video {
      display: block;
    }

    .sub-articles {
      margin: 0;
      border-bottom: 1px solid #efefef;
    }

    .story {
      display: block;
      padding: 1rem 1rem 1.5rem 1rem;
      border: none;
    }

    #orientation,
    #on-campus,
    #lecture {
      display: none;
    }

    #orientation-mobile,
    #on-campus-mobile,
    #lecture-mobile {
      display: block;
      width: 100%;
    }
}

/* Start Learning */

.courses {
  display: flex;
  padding: 2rem 4.5rem;
  with: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.start-learning h2 {
  text-align: center;
}

.course {
  width: 32%;
  display: flex;
  margin-bottom: 2rem;
}

.course-info {
  background-color: #fff;
  overflow: hidden;
}

.course-info img {
  width: 100%;
  height: auto;
  transition: all .15s ease-in;
  position: relative;
  border-bottom: .5rem solid transparent;
}

.course-info img:hover {
  border-bottom: .5rem solid #4D92DF;
}

.story-info {
  padding: 2rem 2rem 1rem 2rem;
}

@media only screen and (max-width: 1200px) {

  .course {
    width: 48%;
  }
}

.thesis {
  border-bottom: 1px solid #efefef;
}

.thesis h2  {
  text-align: center;
  margin: 3rem;
}


@media only screen and (max-width: 750px) {
  .courses {
    max-width: 100%;
    flex-direction: column;
    padding: 2rem 2rem;
  }

  .course-info {
    width: 100%;
  }

  .course {
    width: 100%;
    margin-bottom: 0.5rem;
  }

}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px solid #efefef;
}

footer p {
  font-size: 1rem;
}

@media only screen and (max-width: 750px) {
  footer nav a{
    display: none;
  }
}
